
.section-label-page{
	background:#1B3C73;
	width:100%;
  padding : 10px;
  color : white;
}
.section-action-page{
  margin:2vh 0;
  float: right;
}

.section-title-page{
  display:flex;
  justify-content: center;
}


.header-form{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px #c6c6c6 solid;
}

