<template name="c_modal">
  <div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="{{idModal}}Label"
    aria-hidden="true">
    <div class="modal-dialog {{type}}" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{idModal}}Label">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="{{formId}}" data-milik="{{dataObject._id}}">
          <div class="modal-body ">

            {{> Template.dynamic template=bodyTemplate data=dataObject}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="fancyBox">
  <div>
    {{#if isPDF url}}
    <a target="_blank" href="{{url}}">
      <i class="fa fa-file-pdf fa-5x"></i>
    </a>

    {{else}}
    <a data-fancybox="gallery" href="{{url}}">
      <img src="{{url}}" class="{{class}}" alt="PDF" style="max-width: 100%" />
    </a>
    {{/if}}
  </div>
</template>