<template name="formAddGelombang">
  <div class="row">
    <div class="form-group col-6">
      <label for="selectedPeriod">Pilih Tahun Ajaran</label>
      <select id="selectedPeriod" class="form-control">
        <option value="0">-- Silahkan Pilih Tahun Ajaran --</option>
        {{#each listPeriode}}
        <option value="{{_id}}">{{year}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group col-6">
      <div class="form-group">
        <label for="inputNameGelombang">Nama Gelombang</label>
        <input type="text" class="form-control" id="inputNameGelombang" placeholder="Contoh : Gelombang 1" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="inputCode">Kode Gelombang</label>
      <input type="text" class="form-control" id="inputCode" placeholder="Contoh : gel1" required>
    </div>
    <div class="form-group col-6">
      <label for="inputClass">Kelas yang dibuka</label>
      <input type="text" class="form-control" id="inputClass" placeholder="Contoh : 7-8-9" required>
      <p style="font-size: 10px;"><i>*Gunakan tanda '-' jika kelas lebih dari
          satu</i></p>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-6">
      <label for="inputUangForm">Uang Formulir</label>
      <input type="text" class="form-control inputNominal" id="inputUangForm" placeholder="Contoh : 10000000" required>
    </div>
    <div class="form-group col-6">
      <label for="inputUangSpp">Uang SPP</label>
      <input type="text" class="form-control inputNominal" id="inputUangSpp" placeholder="Contoh : 10000000" required>
    </div>
    <div class="form-group col-6">
      <label for="inputUangSumbangan">Uang Sumbangan</label>
      <input type="text" class="form-control inputNominal" id="inputUangSumbangan" placeholder="Contoh : 10000000"
        required>
    </div>
    <div class="form-group col-6">
      <label for="inputUangKegiatan">Uang Kegiatan</label>
      <input type="text" class="form-control inputNominal" id="inputUangKegiatan" placeholder="Contoh : 10000000"
        required>
    </div>
    <div class="form-group col-6">
      <label for="inputUangAlat">Uang Alat (Khusus TK)</label>
      <input type="text" class="form-control inputNominal" id="inputUangAlat" placeholder="Contoh : 10000000" required>
    </div>
  </div>

</template>

<template name="formAddPaymentSchool">
  <div class="form-group">
    <label for="inputNamePayment">Nama</label>
    <input type="text" class="form-control" id="inputNamePayment" placeholder="Contoh : Umum" required>
  </div>
  <div class="form-group">
    <label for="selectedCategory">Kategori Pembayaran</label>
    <select class="form-control" id="selectedCategory">
      <option value="0">-- Silahkan Pilih Kategori Pembayaran --</option>
      <option value="uangFormulir">Uang Formulir</option>
      <option value="uangSpp">Uang SPP</option>
      <option value="uangSumbangan">Uang Sumbangan</option>
      <option value="uangSeragam">Uang Seragam</option>
      <option value="uangAlat">Uang Alat (Khusus TK)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputWajib">Nominal</label>
    <input type="text" class="form-control" id="inputWajib" placeholder="Contoh : 10000000" required>
  </div>


</template>

<template name="formUnduhVa">
  <div class="form-group">
    <div class="form-group" id="section-school-select">
      <label>Pilih Perwakilan</label>
      <select class="form-control select2 " id="select-perwakilan">
        <option value="0">-- Silahkan Pilih Perwakilan --</option>
        <!-- {{#each listPerwakilan}}
        <option value="{{_id}}">{{name}} - {{city}}</option>
        {{/each}} -->
      </select>
    </div>
  </div>
  <div class="form-group" id="section-school-select">
    <label>Pilih Sekolah</label>
    <select class="form-control select2 " id="select-school">
      <option value="0">-- Silahkan Pilih Sekolah --</option>
      {{#each listSchools}}
      <option value="{{_id}}">{{name}} - {{city}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label>Pilih Tag</label>
    <select class="form-control" id="select-tag">
      <option value="0">-- Silahkan Pilih Tag --</option>
      <option value="formulir">Formulir (08)</option>
      <option value="spp">Uang Sekolah Full (90)</option>
      <option value="sppCicil">Uang Sekolah Cicil (99)</option>
    </select>
  </div>
  <div class="btn btn-warning btn-block" id="{{idButton}}">{{label}}</div>
  <hr>
</template>

<template name="alertDiv">
  <div class="mx-5 my-2">
    {{#if equals status 10}}
    <div class="alert alert-warning" role="alert">
      Menunggu Pembayaran Uang Formulir dan Konfirmasi Admin Yayasan
    </div>
    {{/if}}
    {{#if equals status 20}}
    <div class="alert alert-success" role="alert">
      Mengisi Formulir PPDB
    </div>
    {{/if}}
    {{#if equals status 30}}
    <div class="alert alert-success" role="alert">
      Menunggu Konfirmasi Formulir oleh Admin Sekolah
    </div>
    {{/if}}
    {{#if equals status 41}}
    <div class="alert alert-warning" role="alert">
      Menunggu Konfigurasi Cicilan
    </div>
    {{/if}}
    {{#if equals status 45}}
    <div class="alert alert-success" role="alert">
      Menunggu Unggah SPO Pembayaran
    </div>
    {{/if}}
    {{#if equals status 46}}
    <div class="alert alert-success" role="alert">
      Menunggu Penjadwalan Wawancara
    </div>
    {{/if}}
    {{#if equals status 48}}
    <div class="alert alert-success" role="alert">
      Menunggu Proses Wawancara
    </div>
    {{/if}}
    {{#if equals status 60}}
    <div class="alert alert-success" role="alert">
      Semua Alur PPDB Sudah Selesai
    </div>
    {{/if}}
    {{#if equals status 90}}
    <div class="alert alert-danger" role="alert">
      <b>
        Ditolak
      </b> <br>Alasan : {{reason}}
    </div>
    {{/if}}
  </div>
</template>

<template name="formInputSchedule">

  <div class="form-group">
    <label for="inputDate">Tanggal</label>
    <input type="date" class="form-control" id="inputDate" required>
  </div>
  <div class="form-group">
    <label for="inputTime">Jam</label>
    <input type="time" class="form-control" id="inputTime" required>
  </div>
  <div class="form-group">
    <label for="inputNote">Catatan : </label>
    <input type="text" class="form-control" id="inputNote" required>
  </div>
</template>