<template name="formLecturers">
    <!-- Component Forms Add Lecturers Requirement Parameter when using this component: -->
    <!-- 1. formPage -> for selecting category of the page -->
    <!-- 2. type -> for add / edit page -->
    <div class="card rounded-3 px-3 mt-3 mb-2 px-3 pt-3 pb-2">
        <div class="navigation-form d-flex gap-3">
            <label class="text-nowrap {{#if equals formPage 1}}text-blue fw-bold{{/if}}" data-value="1">1. Profile</label><i class="fa fa-light fa-angle-right pt-1"></i>
            <label class="text-nowrap {{#if equals formPage 2}}text-blue fw-bold{{/if}}" data-value="2">2. Professional</label><i class="fa fa-light fa-angle-right pt-1"></i>
            <label class="text-nowrap {{#if equals formPage 3}}text-blue fw-bold{{/if}}" data-value="3">3. Educational</label><i class="fa fa-light fa-angle-right pt-1"></i>
            <label class="text-nowrap {{#if equals formPage 4}}text-blue fw-bold{{/if}}" data-value="4">4. Certification & Research</label>
            <!-- <label class="btnNavigation text-nowrap {{#if equals formPage 5}}text-blue fw-bold{{/if}}" data-value="5">5. Certification</label> -->
        </div>
    </div>

    <!-- Page 1 -->
    {{#if equals formPage 1}}
        <!-- Personal Details -->
        <div class="card rounded-3 mt-4">
            <div class="card-header bg-blue text-white">
                Personal Details
            </div>
            <div class="card-body">
                <section class="p-2">
                    <form id="formLecturers">
                        <div class="form-group">
                            <label for="inputUsername" class="fw-bold text-login-content">Username</label>
                            <input type="text" value="{{formData.username}}" class="form-control" id="inputUsername" placeholder="Ex: John123" required>
                        </div>
                        <div class="form-group">
                            <label for="inputFullname" class="fw-bold text-login-content">Fullname</label>
                            <input type="text" class="form-control" value="{{formData.fullName}}"  id="inputFullname" placeholder="Ex: John Doe" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="fw-bold text-login-content">Email</label>
                            <input type="text" class="form-control" value="{{formData.email}}" id="inputEmail" placeholder="Ex: johndoe@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="fw-bold text-login-content">Address</label>
                            <input type="text" class="form-control"  value="{{formData.address}}" id="inputAddress" placeholder="Ex: Jln. Avenue 12, Jakarta" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="fw-bold text-login-content">Phone Number</label>
                            <input type="tel" class="form-control"  value="{{formData.phoneNumber}}" id="inputPhoneNumber" placeholder="Ex: 0821-1234-5678" required>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="form-group col">
                                <label for="inputPob" class="fw-bold text-login-content">Place of Birth</label>
                                <input type="text" class="form-control" value="{{formData.pob}}" id="inputPob" placeholder="Ex: Jakarta" required>
                            </div>
                            <div class="form-group col">
                                <label for="inputDob" class="fw-bold text-login-content">Date of Birth</label>
                                <input type="date" class="form-control" value="{{formData.dob}}" id="inputDob" placeholder="Ex: 01/01/1990" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputGender" class="fw-bold text-login-content">Gender</label>
                            <div class="d-flex flex-wrap gap-4">
                                <div class="form-check">
                                    {{#if equals formData.gender 'male'}}
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputGender" value="male" checked>
                                    {{else}}
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputGender" value="male">
                                    {{/if}}
                                    <label class="form-check-label">
                                    Male
                                    <i class="fa fa-mars" style="color: #C3E6FF;"></i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    {{#if equals formData.gender 'female'}}
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputGender" value="female" checked>
                                    {{else}}
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="inputGender" value="female">
                                    {{/if}}
                                    <label class="form-check-label">
                                    Female
                                    <i class="fa fa-venus" style="color: #F8C8DC;"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputImageProfile" class="fw-bold text-login-content">Image Profile</label>
                            <input class="form-control" type="file" id="inputImageProfile">
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <!-- National Identity -->
        <div class="card rounded-3 mt-4">
            <div class="card-header bg-blue text-white">
                National Identity
            </div>
            <div class="card-body">
                <section class="p-2">
                    <form id="formLecturers">
                        <div class="form-group">
                            <label for="inputNationality" class="fw-bold text-login-content">Nationality</label>
                            <input type="text" class="form-control" id="inputNationality" value="{{formData.nationality}}" placeholder="Ex: Indonesian" required>
                        </div>
                        <div class="form-group">
                            <label for="inputReligion" class="fw-bold text-login-content">Religion</label>
                            <input type="text" class="form-control" id="inputReligion" value="{{formData.religion}}" placeholder="Ex: Catholic" required>
                        </div>
                        <div class="form-group">
                            <label for="inputNik" class="fw-bold text-login-content">NIK</label>
                            <input type="text" class="form-control" id="inputNik" value="{{formData.nik}}" placeholder="Ex: 3602041211870001" required>
                        </div>
                        <div class="form-group">
                            <label for="inputRegisteredAddress" class="fw-bold text-login-content">Registered Address</label>
                            <input type="text" class="form-control" id="inputRegisteredAddress" value="{{formData.registeredAddress}}" placeholder="Ex: Bandung" required>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-submit btn-next text-white" style="background-color: #549DF7; border: 1px solid #549DF7" type="button" value="2">
                Next
                <i class="fa fa-light fa-arrow-right btn-next" value="2"></i>
            </button>
        </div>
    {{/if}}

    <!-- Page 2 -->
    <!-- Professional Experience -->
    {{#if equals formPage 2}}
    <div class="card rounded-3 mt-4">
        <div class="card-header bg-blue text-white">
            Current Professional Experience
        </div>
        <div class="card-body">
            <section class="p-2">
                <form id="formLecturers">
                    <div class="form-group">
                        <label for="inputNidn" class="fw-bold text-login-content">NIDN / NIDK</label>
                        <input type="text" class="form-control" id="inputNidn" placeholder="Ex: 2016076202" value="{{formData.nidn}}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPosition" class="fw-bold text-login-content">Current Position</label>
                        <input type="text" class="form-control" id="inputPosition" placeholder="Ex: Lecturer" value="{{formData.position}}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputAcademicRank" class="fw-bold text-login-content">Academic Rank</label>
                        <input type="text" class="form-control" id="inputAcademicRank" value="{{formData.academicRank}}" placeholder="Ex: Penata Muda Tingkat 1" required>
                    </div>

                </form>
            </section>
        </div>
    </div>
    <div class="card rounded-3 mt-4">
        <div class="card-header bg-blue text-white">
            Previous Professional Experience
        </div>
        <div class="card-body">
            <section class="p-2">
                <form id="formLecturers">
                    <div class="form-group">
                        <label for="inputJobPosition" class="fw-bold text-login-content">Job Position</label>
                        <input type="text" class="form-control" id="inputJobPosition" placeholder="Ex: Regular Lecturer" required>
                    </div>
                    <div class="form-group">
                        <label for="inputInstitution" class="fw-bold text-login-content">Institution</label>
                        <input type="text" class="form-control" id="inputInstitution" placeholder="Ex: Universitas Ciputra" required>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="form-group col">
                            <label for="inputStartDate" class="fw-bold text-login-content">Start Date</label>
                            <input type="date" class="form-control" id="inputStartDate" required>
                        </div>
                        <div class="form-group col">
                            <label for="inputEndDate" class="fw-bold text-login-content">End Date</label>
                            <input type="date" class="form-control" id="inputEndDate" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button class="btn btn-add btn-sm" id="add-experience">
                            <i class="fa fa-light fa-plus"></i>
                            Add Experience
                        </button>
                    </div>
                    {{#if listExperiences}}
                    <hr class="mt-4 mb-3" style="border: 1px solid lightgray;">
                    <!-- Desktop -->
                    <div class="form-group desktop-div">
                        <label for="inputListExperience" class="fw-bold text-login-content">List Experiences</label>
                        {{#each item in listExperiences}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div class="d-flex flex-wrap">
                                    <div class="w-60 row row-cols-1 mx-0">
                                        <label class="col text-break fw-bold">{{item.jobPosition}}</label>
                                    </div>
                                    <div class="w-40">
                                        <div class="d-flex justify-content-end flex-row gap-2 me-2">
                                            <label class="fw-bold text-secondary text-break"> {{formatHRDate item.startDate}}</label>
                                            -
                                            <label class="fw-bold text-secondary text-break"> {{formatHRDate item.endDate}}</label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="w-75">
                                        <label class="col text-break"><b>Institution: </b> {{item.institution}}</label>
                                    </div>
                                    <div class="w-25">
                                        <div class="d-flex justify-content-end bottom-0 me-2">
                                            <button class="btn btn-trash btn-danger btn-sm remove-list" data-id="experiences" data-milik="{{@index}}">
                                                <i class="fa fa-solid fa-trash remove-list" data-id="experiences" data-milik="{{@index}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <!-- Mobile -->
                    <div class="form-group mobile-div">
                        <label for="inputListExperience" class="fw-bold text-login-content">List Experiences</label>
                        {{#each item in listExperiences}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div class="d-flex flex-wrap">
                                    <div class="row row-cols-1">
                                        <label class="col fw-bold text-break">{{item.jobPosition}}</label>
                                        <label class="col text-break"><b>Institution: </b> {{item.institution}}</label>
                                        <div class="col-6">
                                            <p class="fw-bold text-secondary text-break mt-4"><b class="text-dark">Start Date:</b> {{formatHRDate item.startDate}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="fw-bold text-secondary text-break mt-4"><b class="text-dark">End Date:</b> {{formatHRDate item.endDate}}</p>
                                        </div>
                                        <div class="d-flex justify-content-end bottom-0 me-2">
                                            <button class="btn btn-trash btn-danger btn-sm remove-list" type="button" data-id="experiences" data-milik="{{@index}}">
                                                <i class="fa fa-solid fa-trash remove-list" data-id="experiences" data-milik="{{@index}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </form>
            </section>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-submit btn-previous text-white" style="background-color: rgba(24, 63, 131, 0.8); border: 1px solid rgba(24, 63, 131, 0.8)" type="button" value="1">
            <i class="fa fa-light fa-arrow-left btn-previous" value="1"></i>
            Previous
        </button>
        <button class="btn btn-submit btn-next text-white" style="background-color: #549DF7; border: 1px solid #549DF7" type="button" value="3">
            Next
            <i class="fa fa-light fa-arrow-right btn-next" value="3"></i>
        </button>
    </div>
    {{/if}}

    <!-- Page 3 -->
    <!-- Educational History -->
    {{#if equals formPage 3}}
    <div class="card rounded-3 mt-4">
        <div class="card-header bg-blue text-white">
            Educational History
        </div>
        <div class="card-body">
            <section class="p-2">
                <form id="formLecturers">
                    <div class="form-group">
                        <label for="inputEducationLevel" class="fw-bold text-login-content">Education Level</label>
                        <input type="text" class="form-control" id="inputEducationLevel" placeholder="Ex: Undergraduate" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEducationMajor" class="fw-bold text-login-content">Major</label>
                        <input type="text" class="form-control" id="inputEducationMajor" placeholder="Ex: Information Technology" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEducationInstitution" class="fw-bold text-login-content">Institution</label>
                        <input type="text" class="form-control" id="inputEducationInstitution"  placeholder="Ex: Universitas Teknologi Bandung" required>
                    </div>
                    <div class="form-group">
                        <label for="inputGraduateDegree" class="fw-bold text-login-content">Graduate Degree</label>
                        <input type="text" class="form-control" id="inputGraduateDegree" placeholder="Ex: Bachelor" required>
                    </div>
                    <div class="form-group">
                        <label for="inputStudyPublication" class="fw-bold text-login-content">Study Publication</label>
                        <input type="text" class="form-control" id="inputStudyPublication" placeholder="Title of the Study Publication" required>
                    </div>
                    <div class="form-group">
                        <label for="inputDomestic" class="fw-bold text-login-content">Domestic Institution</label>
                        <div class="d-flex flex-wrap gap-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inputDomestic" id="inputDomestic" value="local">
                                <label class="form-check-label">
                                    Local
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inputDomestic" id="inputDomestic" value="overseas">
                                <label class="form-check-label">
                                    Overseas
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFormalStatus" class="fw-bold text-login-content">Formal Status</label>
                        <div class="d-flex flex-wrap gap-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inputFormalStatus" id="inputFormalStatus" value="formal">
                                <label class="form-check-label">
                                    Formal
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="inputFormalStatus" id="inputFormalStatus" value="informal">
                                <label class="form-check-label">
                                    Informal
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="form-group col">
                            <label for="inputEducationStart" class="fw-bold text-login-content">Start Date</label>
                            <input type="date" class="form-control" id="inputEducationStart" required>
                        </div>
                        <div class="form-group col">
                            <label for="inputEducationEnd" class="fw-bold text-login-content">End Date</label>
                            <input type="date" class="form-control" id="inputEducationEnd" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button class="btn btn-add btn-sm" id="add-history">
                            <i class="fa fa-light fa-plus"></i>
                            Add History
                        </button>
                    </div>
                    {{#if listEducationalHistory}}
                    <hr class="mt-4 mb-3" style="border: 1px solid lightgray;">
                    <!-- Desktop -->
                    <div class="form-group desktop-div">
                        <label for="inputListExperience" class="fw-bold text-login-content">List History</label>
                        {{#each item in listEducationalHistory}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div class="d-flex flex-wrap">
                                    <div class="w-60 row row-cols-1 mx-0">
                                        <label class="col text-break fw-bold">{{capitalizeWord item.educationLevel}} - {{capitalizeWord item.major}}</label>
                                        <label class="col text-break mt-2"><b>Study Publication: </b> {{capitalizeWord item.studyPublication}}</label>
                                    </div>
                                    <div class="w-40">
                                        <div class="d-flex justify-content-end flex-row gap-2 me-2">
                                            <label class="fw-bold text-secondary text-break">{{formatHRDate item.dateStart}}</label>
                                            -
                                            <label class="fw-bold text-secondary text-break">{{formatHRDate item.dateEnd}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <label class="col text-break"><b>Graduate Degree: </b>{{capitalizeWord item.graduateDegree}} at {{capitalizeWord item.institution}} <b>({{capitalizeWord item.domesticStatus}} & {{capitalizeWord item.formalStatus}} Institution)</b></label>
                                </div>
                                <div class="d-flex justify-content-end bottom-0 me-2">
                                    <button class="btn btn-trash btn-danger btn-sm remove-list" data-id="education" data-milik="{{@index}}">
                                        <i class="fa fa-solid fa-trash remove-list" data-id="education" data-milik="{{@index}}"></i>
                                    </button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <!-- Mobile -->
                    <div class="form-group mobile-div">
                        <label for="inputListExperience" class="fw-bold text-login-content">List History</label>
                        {{#each item in listEducationalHistory}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fw-bold text-break">{{capitalizeWord item.educationLevel}} - {{capitalizeWord item.major}}</p>
                                        <p class="text-break"><b>Study Publication: </b> {{capitalizeWord item.studyPublication}}</p>
                                        <p><b>Graduate Degree: </b> {{capitalizeWord item.graduateDegree}} at {{capitalizeWord item.institution}} <b>({{capitalizeWord item.domesticStatus}} & {{capitalizeWord item.formalStatus}} Institution)</b></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="fw-bold text-secondary text-break mt-3"><b class="text-dark">Start Date:</b> {{formatHRDate item.dateStart}}</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="fw-bold text-secondary text-break mt-3"><b class="text-dark">End Date:</b> {{formatHRDate item.dateEnd}}</p>
                                    </div>
                                    <div class="d-flex justify-content-end bottom-0 me-2">
                                        <button class="btn btn-trash btn-danger btn-sm remove-list" type="button" data-id="education" data-milik="{{@index}}">
                                            <i class="fa fa-solid fa-trash remove-list" data-id="education" data-milik="{{@index}}"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </form>
            </section>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-submit btn-previous text-white" style="background-color: rgba(24, 63, 131, 0.8); border: 1px solid rgba(24, 63, 131, 0.8)" type="button" value="2">
            <i class="fa fa-light fa-arrow-left btn-previous" value="2"></i>
            Previous
        </button>
        <button class="btn btn-submit btn-next text-white" style="background-color: #549DF7; border: 1px solid #549DF7" type="button" value="4">
            Next
            <i class="fa fa-light fa-arrow-right btn-next" value="4"></i>
        </button>
    </div>
    {{/if}}

    <!-- Page 4 -->
    <!-- Certification & Research -->
    {{#if equals formPage 4}}
    <div class="card rounded-3 mt-4">
        <div class="card-header bg-blue text-white">
            Certification
        </div>
        <div class="card-body">
            <section class="p-2">
                <form id="formLecturers">
                    <div class="form-group">
                        <label for="inputCertificationType" class="fw-bold text-login-content">Certification Type</label>
                        <input type="text" class="form-control" id="inputCertificationType" placeholder="Ex: Lecturer Certification" required>
                    </div>
                    <div class="form-group">
                        <label for="inputCertificationMajor" class="fw-bold text-login-content">Certification Major</label>
                        <input type="text" class="form-control" id="inputCertificationMajor" placeholder="Ex: Information Technology" required>
                    </div>
                    <div class="form-group">
                        <label for="inputRegistrationNumber" class="fw-bold text-login-content">Registration Number</label>
                        <input type="text" class="form-control" id="inputRegistrationNumber" placeholder="Ex: xxxxxxxxxxxx" required>
                    </div>
                    <div class="form-group">
                        <label for="inputSkNumber" class="fw-bold text-login-content">SK Number</label>
                        <input type="text" class="form-control" id="inputSkNumber" placeholder="Ex: xxxxxxxxxxxx" required>
                    </div>
                    <div class="form-group">
                        <label for="inputCertificationOrganiser" class="fw-bold text-login-content">Certification Organiser</label>
                        <input type="text" class="form-control" id="inputCertificationOrganiser" placeholder="Ex: Kemendikbud" required>
                    </div>
                    <div class="form-group">
                        <label for="inputCertificationGrade" class="fw-bold text-login-content">Grade</label>
                        <input type="text" class="form-control" id="inputCertificationGrade" placeholder="Ex: Grade A" required>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="form-group col">
                            <label for="inputCertificationStart" class="fw-bold text-login-content">Start Date</label>
                            <input type="date" class="form-control" id="inputCertificationStart" required>
                        </div>
                        <div class="form-group col">
                            <label for="inputCertificationEnd" class="fw-bold text-login-content">End Date</label>
                            <input type="date" class="form-control" id="inputCertificationEnd" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2 add-certification">
                        <button class="btn btn-add btn-sm">
                            <i class="fa fa-light fa-plus"></i>
                            Add Certification
                        </button>
                    </div>
                    {{#if listCertification}}
                    <hr class="mt-4 mb-3" style="border: 1px solid lightgray;">
                    <!-- Desktop -->
                    <div class="form-group desktop-div">
                        <label for="inputListCertification" class="fw-bold text-login-content">List Certification</label>
                        {{#each item in listCertification}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div>
                                    <label class="col fw-bold text-break fw-bold d-flex justify-content-between align-items-center">
                                        {{capitalizeWord item.type}} - {{capitalizeWord item.major}}
                                        <div class="me-2">
                                            <button class="btn btn-trash btn-danger btn-sm remove-list" data-id="certification" data-milik="{{@index}}" >
                                                <i class="fa fa-solid fa-trash remove-list" data-id="certification" data-milik="{{@index}}"></i>
                                            </button>
                                        </div>
                                    </label>
                                    <hr class="mt-2 mb-3" style="border: 1px solid gray;">
                                    <label class="col text-break"><b>Certification Organizer:</b> {{capitalizeWord item.organizer}}</label>
                                    <label class="col text-break"><b>Registration Number:</b> {{item.registrationNumber}}</label>
                                    <label class="col text-break"><b>SK Number:</b> {{item.skNumber}}</label>
                                    <label class="col text-break"><b>Grade:</b> {{item.grade}}</label>
                                    <label class="col text-break"><b>Start Date:</b> {{formatHRDate item.dateStart}}</label>
                                    <label class="col text-break"><b>End Date:</b> {{formatHRDate item.dateEnd}}</label>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <!-- Mobile -->
                    <div class="form-group mobile-div">
                        <label for="inputListCertification" class="fw-bold text-login-content">List Certification</label>
                        {{#each item in listCertification}}
                            <div class="rounded-3 mt-3 p-3" style="border: 1px solid lightgray; background-color: #E8F0FE;">
                                <div class="d-flex flex-wrap">
                                    <div class="row row-cols-1">
                                        <label class="col fw-bold text-break fw-bold d-flex justify-content-between align-items-center">
                                            {{capitalizeWord item.type}} - {{capitalizeWord item.major}}
                                            <div class="me-2">
                                                <button class="btn btn-trash btn-danger btn-sm remove-list" data-id="certification" data-milik="{{@index}}">
                                                    <i class="fa fa-solid fa-trash remove-list" data-id="certification" data-milik="{{@index}}"></i>
                                                </button>
                                            </div>
                                        </label>
                                        <div>
                                            <hr class="mt-2 mb-3" style="border: 1px solid gray;">
                                        </div>
                                        <label class="col text-break"><b>Certification Organizer:</b> {{capitalizeWord item.organizer}}</label>
                                        <label class="col text-break"><b>Registration Number:</b> {{item.registrationNumber}}</label>
                                        <label class="col text-break"><b>SK Number:</b> {{item.skNumber}}</label>
                                        <label class="col text-break"><b>Grade:</b> {{item.grade}}</label>
                                        <label class="col text-break"><b>Start Date:</b> {{formatHRDate item.dateStart}}</label>
                                        <label class="col text-break"><b>End Date:</b> {{formatHRDate item.dateEnd}}</label>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </form>
            </section>
        </div>
    </div>
    <div class="card rounded-3 mt-4">
        <div class="card-header bg-blue text-white">
            Research Field of Interest
        </div>
        <div class="card-body">
            <section class="p-2">
                <form id="formLecturers">
                    <div class="form-group">
                        <label for="inputResearchInterest" class="fw-bold text-login-content">Research Interest</label>
                        <input type="text" class="form-control" id="inputResearchInterest" value="{{formData.researchInterest}}" placeholder="Ex: Spirituality" required>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <button class="btn btn-submit btn-previous text-white" style="background-color: rgba(24, 63, 131, 0.8); border: 1px solid rgba(24, 63, 131, 0.8)" type="button" value="3">
            <i class="fa fa-light fa-arrow-left btn-previous" value="3"></i>
            Previous
        </button>
        {{#if equals type "add"}}
            <button class="btn btn-warning btn-submit" id="btn-submit" type="button">Submit</button>
        {{else}}
            <button class="btn btn-warning btn-submit" id="btn-submit" type="button">Submit</button>
        {{/if}}
    </div>
    {{/if}}
    
    <style>
        .navigation-form{
            width: 100%;
        }
        .text-blue{
            color: rgba(80, 130, 246, 0.839) !important;
        }
        .bg-blue{
            background-color: rgba(80, 130, 246, 0.839) !important;
        }
        .btnNavigation:hover{
            opacity: 0.6;
            cursor: pointer;
            scale: 1.1;
            transition: 0.4s ease-in-out;
        }
        .btn-next:hover{
            opacity: 0.8;
            transition: opacity 0.4s;
        }
        .btn-previous:hover{
            opacity: 0.8;
            transition: opacity 0.4s;
        }
        .btn-add{
            background-color: rgba(255, 165, 0, 0.8) !important;
            color: black;
        }
        .w-60{
            width: 60%;
        }
        .w-40{
            width: 40%;
        }

        @media (max-width: 1024px) {            
            .navigation-form{
                overflow-x: scroll;
            }
        }
        @media (max-width: 768px) {            

        }
        @media screen and (max-width: 600px) {            
            .navigation-form{
                overflow-x: scroll;
            }
        }
    </style>
</template>

<template name="passwordEdit">
    <div class="container page page-create-student poppins-regular py-4">
        <div class="d-flex align-items-center flex-wrap gap-3">
            <i class="fa fa-solid fa-chevron-left text-secondary hover-icon"></i>
            <h4 class="text-login-content fw-bold py-2 mb-0">Back</h4>
        </div>
        <div class="card rounded-3 mt-4">
            <div class="card-header bg-blue text-white">
                Change Password
            </div>
            <div class="card-body">
                <section class="p-2">
                    <form id="edit-user-form">
                        <div class="form-group">
                            <label for="inputPassword" class="fw-bold text-login-content">Current Password</label>
                            <input type="password" class="form-control" id="old-password" name="inputPassword" placeholder="Ex: *******" value="{{ thisUser.password }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="fw-bold text-login-content">New Password</label>
                            <input type="password" class="form-control" id="new-password" name="inputPassword" placeholder="Ex: *******" value="{{ thisUser.password }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="fw-bold text-login-content">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmation-password" name="inputPassword" placeholder="Ex: *******" value="{{ thisUser.password }}" required>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-4">
            <button class="btn btn-warning btn-submit" id="editPassword" type="button">Submit</button>
        </div>
    </div>

    <style>
        .bg-blue {
            background-color: rgba(80, 130, 246, 0.839) !important;
        }
    </style>
  </template>